.tableview{
    border-collapse: collapse;
    width: 100%;
}

.tableview td, .tableview th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tableview tr:nth-child(even){background-color: #f2f2f2;}

.tableview tr:hover {background-color: #ddd;}

.tableview th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ea5940;
  color: white;
}