.curvedButton {
    background-color: #E50914; /* Netflix red */
    color: white;
    border: none;
    border-radius: 20px; /* Curved edges */
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 3%;
    margin-bottom: 4%;
}

.curvedButton:hover {
    opacity: 90%; /* Darker red on hover */
}