.navbar_menu_main{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar_menu_main li{
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    position: relative;
    float: left;
  }

a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -10;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
   
    background: #10B981;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover{
    color: #10B981;
}
a:hover:after { 
    width: 100%; 
    left: 0; 
}

