.movieCard {
    margin: 0 10px;
    flex-shrink: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .movieCard:hover{
    transform: scale(110%);
    position: relative;
  }
  
  .movieImage {
    width: 100%;
    border-radius: 8px;
  }
  
  .movieTitle {
    margin-top: 8px;
    text-align: center;
    font-size: 14px;
    color: #fff;
  }


  