.color_button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    width: 20%;
    min-width: 80px;
    font-weight: bold;
    color: aliceblue;
    font-size: 1em;
}

.color_button:hover{
   opacity: 0.8;
}
